.fuel-form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.fuel-form .fuel{
    display:block;
    width: 50%;
    padding:20px; 
   
    appearance: none;
    background:none;
    border:none;
    outline:none;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0px 0px 16px 16px;
   
    box-shadow: 0px 5px rgba(0,0,0,0.2);
  
    color:#313131;
    font-size:20px;
  
    transition: 0.4s ease;
  }
  .btn-container{
    padding-top:20px;
  }
  .btn-fuel{
    width:40%;
    color:whitesmoke;
    font-size:17px;
    font-weight:600;
    background-color:#333;
    border-radius: 20%;
    padding:20px 5px;
  }