.login-wrapper2 {
  font-size: 13px/20px;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("https://wallpapercave.com/wp/wp8068761.jpg");
  background-Position: center center;
  background-size:cover;
  background-repeat: no-repeat;
}
.title{
  background-color: #313131;
  border: 2px solid whitesmoke;
  color:rgb(255, 255, 255);
  width:100%;
}
.register{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  position: relative; 
	top: 50px;
	right: 33%;
  font-size: 30px;
  font-weight:bolder;

  
}


.login-stuff {
  background-color:hsl(198, 100%, 94%);
  border: 4px solid black;
  height:90%;
  width: 56%;
  margin:auto;
}

.register-form{
  margin:auto;
  padding-top:1%;
  padding-right:5%
}

.input-style2{
  display:inline;
  width:82%;
  padding:25px; 
  margin-top:45px;
  appearance:none;
  border:black;
  outline-color: rgb(175, 175, 216);
  outline-width: 100px;
  background-color: #e9e4d9;
  border-radius: 10px 10px 12px 12px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  color:#313131;
  font-size:25px;
  transition: 0.4s ease;
  align-content:center;
}

.register-btn {
  width:85%;
  color:#d0f5fc;
  font-size:30px;
  font-weight:600;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  background-color:#12a4cc;
  border-radius: 10px 10px 12px 12px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  padding:20px 20px;

}
.acct-butt {
  width:50%;
  color:#d0f5fc;
  font-size:15px;
  font-weight:600;
  background-color:#12a4cc;
  border-radius: 5px 5px 6px 6px;
  padding:10px 10px;
  margin-left: 170px;

}
.register-loc{
  padding:100px 10px;
 
}
.butt-loc{
  padding:10px 10px 10px 10px;
  margin-top: -90px;
  margin-left: 425px;
}

label {
  display: block;
  font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
  margin-top: 1rem;
}