.img3{
    background-image: url("https://images.pexels.com/photos/3848412/pexels-photo-3848412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-Position: center center;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .client-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
  }
  .title{
    background-color: #313131;
    border: 2px solid whitesmoke;
    color:white;
  }
  .btn-container{
    padding:10px 0px;
  }
  .btn-edit{
    width:10%;
    color:whitesmoke;
    font-size:17px;
    font-weight:600;
    background-color:#333;
    border-radius: 20%;
    padding:20px 5px;
  }
  .btn-save{
    width:10%;
    color:whitesmoke;
    font-size:17px;
    font-weight:600;
    background-color:#333;
    border-radius: 20%;
    padding:20px 5px;
  }